@font-face {
	font-family: 'Exo';
	src: url('../fonts/Exo Bold/exo bold.eot');
	src: local('☺'), url('../fonts/Exo Bold/exo bold.woff') format('woff'), url('../fonts/Exo Bold/exo bold.ttf') format('truetype'), url('../fonts/Exo Bold/exo bold.svg') format('svg');
	font-weight: 600;
	font-style: bold;
}

