+above(1200px)
	.col
		margin 5px 12px
		
	.col-0-12
		display none
	
	.col-1-12
		flex-basis 76px
		
	.col-2-12
		flex-basis 14.7%
		
	.col-3-12
		flex-basis 24.5%
		
	.col-4-12
		flex-basis 31.3%
		
	.col-4-12
		flex-basis 39.7%
		
	.col-5-12
		flex-basis 48%
		
	.col-6-12
		flex-basis 56.3%
		
	.col-7-12
		flex-basis 64.7%
		
	.col-8-12
		flex-basis 73%
		
	.col-9-12
		flex-basis 81.3%
		
	.col-10-12
		flex-basis 89.7%
		
	.col-11-12
		flex-basis 98%
		
	.col-12-12
		flex-basis 100%
