+between(912px, 1199px)
	.col
		margin 5px 16px
		
	.col-0-8
		display none
	
	.col-8-8
		flex-basis 100%
		
	.col-7-8
		flex-basis 88%
		
	.col-6-8
		flex-basis 72.2%
		
	.col-5-8
		flex-basis 59.6%
		
	.col-4-8
		flex-basis 48.25%
		
	.col-3-8
		flex-basis 34.3%
		
	.col-2-8
		flex-basis 22%
		
	.col-1-8
		flex-basis 9.43%