+between(624px, 911px)
	.col
		margin 5px 12px
		
	.col-0-6
		display none
	
	.col-6-6
		flex-basis 100%
		
	.col-5-6
		flex-basis 79.6%
		
	.col-4-6
		flex-basis 62.83%
		
	.col-3-6
		flex-basis 46.2%
		
	.col-2-6
		flex-basis 29.49%
		
	.col-1-6
		flex-basis 12.85%