+below(623px)
	.row
		min-width 420px
	
	.col
		margin 5px 15px
		
	.col-0-4
		display none
	
	.col-1-4
		flex-basis 126px
		
	.col-2-4
		flex-basis 46%
		
	.col-3-4
		flex-basis 72%
		
	.col-4-4
		flex-basis 100%