*, *:before, *:after 
	margin 0
	padding 0
	box-sizing border-box
	text-decoration none
	outline none
	list-style none
	
.main-content
	max-width 1200px
	margin 0 auto
	
.row
	display flex
	flex-direction row
	justify-content space-between
	
.col
	min-width 76px
	height 76px
	margin 5px 12px
	background-color rgba(royalblue, 0.3)