DOCTYPE
	html(lang="en")
		head
			meta(charset="UTF-8")
			meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
			meta(http-equiv='X-UA-Compatible' content='IE=edge')
			meta(name='cleartype' content='on')
			meta(name='google' value='notranslate')
			meta(name="robots" content="index, follow")
			meta(name='description' content='Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.')
			meta(name='keywords' content='keywords')
			link(href='assets/images/favicon.png'   rel='icon' type='image/png')
			title Grid

			link(rel="stylesheet", href="assets/styles/style.min.css")

		body

			main.main-content
			
				.row
					.col.col-1-12.col-1-8.col-1-6.col-1-4
					.col.col-1-12.col-1-8.col-1-6.col-1-4
					.col.col-1-12.col-1-8.col-1-6.col-1-4
					.col.col-1-12.col-1-8.col-1-6.col-1-4
					.col.col-1-12.col-1-8.col-1-6.col-0-4
					.col.col-1-12.col-1-8.col-1-6.col-0-4
					.col.col-1-12.col-1-8.col-0-6.col-0-4
					.col.col-1-12.col-1-8.col-0-6.col-0-4
					.col.col-1-12.col-0-8.col-0-6.col-0-4
					.col.col-1-12.col-0-8.col-0-6.col-0-4
					.col.col-1-12.col-0-8.col-0-6.col-0-4
					.col.col-1-12.col-0-8.col-0-6.col-0-4
				
				.row
					.col.col-12-12.col-8-8.col-6-6.col-4-4
			
				.row
					.col.col-11-12.col-7-8.col-5-6.col-3-4
					.col.col-1-12.col-1-8.col-1-6.col-1-4
					
				.row
					.col.col-10-12.col-6-8.col-4-6.col-2-4
					.col.col-2-12.col-2-8.col-2-6.col-2-4
					
				.row
					.col.col-9-12.col-5-8.col-3-6.col-3-4
					.col.col-3-12.col-3-8.col-3-6.col-1-4
					
				.row
					.col.col-8-12.col-4-8.col-2-6.col-2-4
					.col.col-4-12.col-4-8.col-4-6.col-2-4
					
				.row
					.col.col-7-12.col-3-8.col-1-6.col-1-4
					.col.col-5-12.col-5-8.col-5-6.col-3-4
					
				.row
					.col.col-6-12.col-2-8.col-2-6.col-2-4
					.col.col-6-12.col-6-8.col-4-6.col-2-4
			
			
			script(type='text/javascript' src="assets/scripts/script.js")